<div>
  <%= image_tag @blog.user.get_profile_image, size: "100x100" %>
  <%= @blog.user.name %>
  <%= @blog.user.introduction %>
</div>
<div>
  <%= @blog.title %>
  <%= @blog.body %>
  <%= link_to "編集", edit_blog_path(@blog) %>
  <%= link_to "削除", blog_path(@blog), data: { turbo_method: :delete } %>
</div>
