<div>
  <p>ユーザー画像：<%= image_tag @blog.user.get_profile_image, size: "100x100" %></p>
  <p>ユーザー名：<%= link_to @blog.user.name, user_path(@blog.user) %></p>
  <p>自己紹介：<%= @blog.user.introduction %></p>
</div>
<div>
  <p>タイトル：<%= @blog.title %></p>
  <p>本文：<%= @blog.body %></p>
<% if @blog.user == current_user %>
  <%= link_to "編集", edit_blog_path(@blog) %>
  <%= link_to "削除", blog_path(@blog), data: { turbo_method: :delete } %>
<% end %>
<% if @blog.favorited_by?(current_user) %>
  <p>
    <%= link_to blog_favorite_path(@blog), data: { turbo_method: :delete } do %>
      ♥️<%= @blog.favorites.count %> いいね
    <% end %>
  </p>
  <% else %>
    <p>
      <%= link_to blog_favorite_path(@blog), data: { turbo_method: :post } do %>
        ♡<%= @blog.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @blog.blog_comments.count %></p>
  <% @blog_comments.each do |blog_comment| %>
    <p>コメントしたユーザー画像：<%= image_tag blog_comment.user.get_profile_image, size: "50x50" %></p>
    <p>コメントしたユーザー名：<%= link_to blog_comment.user.name, user_path(blog_comment.user) %></p>
    <p>コメント内容：<%= blog_comment.comment %></p>
    <p>コメント日時：<%= blog_comment.created_at.strftime("%Y/%m/%d %H:%M") %></p>
  <% if blog_comment.user == current_user %>
    <%= link_to "削除", blog_blog_comment_path(blog_comment.blog, blog_comment), data: { turbo_method: :delete } %>
  <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@blog, @blog_comment] do |f| %>
    <%= f.text_field :comment %>
    <%= f.submit "送信" %>
  <% end %>
</div>
