<h1>ユーザー詳細</h1>
<p>ユーザー画像：<%= image_tag @user.get_profile_image, size: "100x100" %></p>
<p>ユーザー名：<%= @user.name %></p>
<p>自己紹介：<%= @user.introduction %></p>
<p>ブログ投稿数：<%= @user.blogs.count %></p>
<p>フォロー数：<%= @user.followers.count %></P>
<p>フォロワー数：<%= @user.followeds.count %></p>
<%# ステータス編集機能実装予定 %>

<h2><%= @user.name %>さんの投稿ブログ一覧</h2>
<% @blogs.each do |blog| %>
  <p>ブログタイトル：<%= link_to blog.title, admin_blog_path(blog) %></p>
  <p>投稿日時：<%= blog.created_at.strftime("%Y/%m/%d %H:%M") %></p>
<% end %>
