<div>
  <p>ユーザー画像：<%= image_tag @user.get_profile_image, size: "100x100" %></p>
  <p>ユーザー名：<%= @user.name %></p>
  <p>自己紹介：<%= @user.introduction %></p>
<%# ↓自分以外はフォロー関係のボタン %>
  <% if @user == current_user %>
    <%= link_to "編集", edit_user_path(@user) %>
    <p>ブロック数：<%= link_to @user.blockers.count, blocks_user_path(@user) %></p>
  <% elsif current_user.blocking?(@user) %>
      <%= link_to "ブロック解除", user_block_path(@user), data: { turbo_method: :delete } %>
  <% elsif current_user.following?(@user) %>
      <%= link_to "フォロー解除", user_relationship_path(@user), data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "フォローする", user_relationship_path(@user), data: { turbo_method: :post } %>
    <%= link_to "ブロックする", user_block_path(@user), data: { turbo_method: :post } %>
  <% end %>
<%# フォロー・フォロワー数（それぞれ一覧ページへのリンクにする） %>
  <p>フォロー数：<%= link_to @user.followers.count, follows_user_path(@user) %></p>
  <p>フォロワー数：<%= link_to @user.followeds.count, followers_user_path(@user) %></p>
<%# DM一覧ページへ（自分以外はそのユーザーとのDMページへ） %>
  <% if @user == current_user %>
    <%= link_to "DM一覧", rooms_path %>
  <% else %>
    <% if @is_room == true %>
      <%= link_to "DMへ", room_path(@room_id) %>
    <% else %>
      <%= form_with model: @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "DMを始める" %>
      <% end %>
    <% end %>
  <% end %>
</div>
<%# 後に、投稿一覧、いいねした一覧、カレンダー（自分のみ）をそれぞれタブにする %>
<%# 投稿一覧 %>
<p><%= @user.name %>さんの投稿一覧</p>
<% @blogs.each do |blog| %>
  <div>
    <p>ブログタイトル：<%= link_to blog.title, blog_path(blog.id) %></p>
    <p>投稿日時：<%= blog.created_at.strftime("%y/%m/%d") %></p>
    <p><%= link_to "コメント #{blog.blog_comments.count}", blog_path(blog) %></p>
  </div>
<% end %>
<%# いいね一覧 %>
<p><%= @user.name %>さんのいいね一覧</p>
<% @favorite_blogs.each do |blog| %>
  <p>ユーザー画像：<%= image_tag blog.user.get_profile_image, size: "50x50" %></p>
  <p>ユーザー名：<%= link_to blog.user.name, user_path(blog.user.id) %></p>
  <p>ブログタイトル：<%= link_to blog.title, blog_path(blog) %></p>
<% end %>
<%# カレンダー %>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <% if event.is_a?(Blog) %>
      <%= link_to "⚫︎", blog_path(event) %>
    <% end %>
  <% end %>
<% end %>
