<div>
  <p>ユーザー画像：<%= image_tag @user.get_profile_image, size: "100x100" %></p>
  <p>ユーザー名：<%= @user.name %></p>
  <p>自己紹介：<%= @user.introduction %></p>
  <%# ↓自分以外はフォロー関係のボタン %>
  <%= link_to "編集", edit_user_path(@user) %>
  <%# フォロー・フォロワー数（それぞれ一覧ページへのリンクにする） %>
  <%# DM一覧ページへ（自分以外はそのユーザーとのDMページへ） %>
</div>
<%# 後に、投稿一覧、いいねした一覧、カレンダー（自分のみ）をそれぞれタブにする %>
<% @blogs.each do |blog| %>
  <div>
    <p>ブログタイトル：<%= link_to blog.title, blog_path(blog.id) %></p>
    <p>投稿日時：<%= blog.created_at.strftime("%y/%m/%d") %></p>
    <p><%= link_to "コメント #{blog.blog_comments.count}", blog_path(blog) %></p>
  </div>
<% end %>
